[init]
        defaultBranch = main
[push]
        autoSetupRemote = true
[core]
        filemode = false
        autocrlf = false
        eol = lf
[alias]
    s = !git status -s
    c = !git add --all && git commit -m
    l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn | %C(green)%cr'
    github = !git config user.name 'Matheus Bozetti' && git config user.email 'matheusbzt@gmail.com'
    azure = !git config user.name 'Matheus Bozetti' && git config user.email 'matheus.bozetti@tbdc.com.br'
[color]
        ui = auto
[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = green bold
        changed = yellow bold
        untracked = red bold
[safe]
        directory = *
[pull]
	rebase = false